index.vtl
<h1>CD Organizer</h1>
<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist">Add an Artist</label>
    <input type="text" id="artist" name="artist"/>
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
<form action="/albums" method="post">
  <div class="form-group">
    <label for="album">Add an Album</label>
    <input type="text" id="album" name="album"/>
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
